@Html.Display("qwerty", "qwqwqwqw")
@Html.ActionLink("MyLink", "Index2", "");

<a href="www.google.com">MyLink2</a>

@ViewData["param1"]

<form >

</form>
@using(Html.BeginForm("MyPost", "Home", FormMethod.Post))
{
    @Html.TextBox("id", 1)
    @Html.TextBox("name", "name")
    <input type="submit" value="Send"/>
}